<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hadithbd.banglahadith" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BanglaHadithApp"
        android:allowBackup="true"
        android:icon="@android:drawable/dialog_frame"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HadithChapterListActivity"
            android:label="@string/title_activity_hadith_detail_list"
            android:parentActivityName=".ui.HadithListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HadithListActivity" />
        </activity>
        <activity
            android:name=".ui.HadithListActivity"
            android:label="@string/title_activity_hadith_list"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.HadithDetailActivity"
            android:label="@string/title_activity_hadith_detail"
            android:parentActivityName=".ui.HadithChapterListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.HadithChapterListActivity" />
        </activity>
        <activity
            android:name=".ui.BookChapterListActivity"
            android:label="@string/title_activity_book_chapter_list"
            android:parentActivityName=".ui.BookListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.BookListActivity" />
        </activity>
        <activity
            android:name=".ui.BookListActivity"
            android:label="@string/title_activity_book_list"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.hadithbd.banglahadith.ui.MainActivity" />
        </activity>

        <activity
            android:name=".ui.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
    </application>

</manifest>
